<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image:  url('assets/img/project21.webp');">
        </div>
    </div>
    <div class="main">
        <div class="contact-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 ml-auto mr-auto">
                        <h2 class="title">Mandanos un mensaje</h2>
                        <p class="description">Puede contactarnos con cualquier cosa relacionada con nuestros productos. Nos pondremos en contacto contigo lo antes posible.
                            <br>
                            <br>
                        </p>
                        <form role="form" id="contact-form" method="post">
                            <label>Nombre</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                              </div>
                                <input type="text" class="form-control" placeholder="Nombre..."   (focus)="focus=true" (blur)="focus=false">
                            </div>
                            <label>Email</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                              </div>
                                <input type="email" class="form-control" placeholder="Email..."   (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                            <label>Teléfono</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="now-ui-icons tech_mobile"></i></span>
                              </div>
                                <input type="text" placeholder="Número..." class="form-control"   (focus)="focus2=true" (blur)="focus2=false">
                            </div>
                            <div class="form-group">
                                <label>Mensaje</label>
                                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                            </div>
                            <div class="submit text-center">
                                <input type="submit" class="btn btn-primary btn-raised btn-round" value="Envíar" />
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 ml-auto mr-auto">
                        <div class="info info-horizontal mt-5">
                            <div class="icon icon-primary">
                                <i class="now-ui-icons location_pin"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Encuéntrenos en la oficina</h4>
                                <p> Av. La Paz,
                                    <br> 7652 Saravena, Arauca
                                    <br> Colombia
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="now-ui-icons tech_mobile"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Llámanos</h4>
                                <p> Carolina Paez
                                    <br> +54 311 321 7620
                                    <br> Lunes - Viernes, 8:00-18:00
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="business_briefcase-24 now-ui-icons"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Legal Information</h4>
                                <p> Scipion Cannabis S.A.S.
                                    <br> NIT &middot; EN2341241
                                    <br> IBAN &middot; EN8732ENGB2300099123
                                    <br> Bank &middot; Bancolombia
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="big-map">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    <footer class="footer footer-default ">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a>
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a>
                                Nosotros
                            </a>
                        </li>
                        <li>
                            <a>
                                contacto
                            </a>
                        </li>
                        <li>
                            <a>
                                legal
                            </a>
                        </li>
                        <li>
                            <a>
                                Tienda
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    © {{data | date: 'yyyy'}}
                    Scipion Cannabis
                </div>
            </div>
        </footer>
</div>
