<footer class="footer footer-default ">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a>
                        Inicio
                    </a>
                </li>
                <li>
                    <a>
                        Nosotros
                    </a>
                </li>
                <li>
                    <a>
                        contacto
                    </a>
                </li>
                <li>
                    <a>
                        legal
                    </a>
                </li>
                <li>
                    <a>
                        Tienda
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            © {{data | date: 'yyyy'}}
            Scipion Cannabis
        </div>
    </div>
</footer>