<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg24.jpg') ;">
        </div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Información legal</h2>
                    <h4>Muestra de nuestro compromiso social</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="section">
            <div class="container">
                <div class="row">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" class="card-plain">
                        <h1>Leyes legalidad cannabis en Colombia</h1>
                        <ngb-panel id="config-panel-one">
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Ley 1787 de 2016
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                    Ley 1787 de 2016, Decreto 613 de 2017 que reglamenta el acceso al uso médico y cientíco del cannabis
                                    y el Decreto 631 de 2018 que modica el artículo 2.8.11; 11.1 y adiciona el numeral 15 al artículo
                                    2.8.11.9.1. del Decreto 780 de 2016.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Decreto 613 de 2017
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                    Decreto 613 de 2017: Por el cual se reglamenta la Ley 1787 de 2016 y se subroga el Título 11 de la Parte 8
                                    del Libro 2 del Decreto 780 de 2016, en relación con el acceso seguro e informado al uso médico y cientíco
                                    del cannabis.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Decreto 631 de 2018
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                    Decreto 631 de 2018: Por el cual se modica el artículo 2.8.11; 11.1 Y se adiciona el numeral 15 al artículo
                                    2.8.11.9.1. del Decreto 780 de 2016.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Resolución 577 de 2017
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                    Resolución 577 de 2017 que regula técnicamente lo relativo a la evaluación y el seguimiento de las
                                    licencias de uso de semillas para siembra y cultivo de plantas de cannabis psicoactivo y no psicoactivo.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Resolución 578 de 2017
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                    Resolución 578 de 2017 que establece el manual de tarifas correspondientes a los servicios de evaluación
                                    y seguimiento que deben pagar las personas naturales y jurídicas solicitantes de las licencias.
                            </ng-template>
                        </ngb-panel>

                    </ngb-accordion>
                </div>
            </div>
        </div>

    </div>

</div>