<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/landing']" placement="bottom" ngbTooltip="Ir al inicio">
                Scipion
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
                (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/aboutus']">
                        <i class="now-ui-icons ui-2_favourite-28"></i>
                        <p>Nosotros</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contactus']">
                        <i class="now-ui-icons ui-1_send"></i>
                        <p>Contacto</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/legal']">
                        <i class="now-ui-icons education_paper"></i>
                        <p>Legal</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" [routerLink]="['/ecommerce']">
                        <i class="now-ui-icons shopping_shop"></i>
                        <p>&nbsp;&nbsp;TIENDA</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>