
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg32.webp');">
        </div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">Acerca de nosotros</h1>
                    <h4>Conozca al increíble equipo detrás de este proyecto y descubra más sobre cómo trabajamos.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="about-description text-center">
            <div class="features-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto">
                            <h2 class="title">Trabajo simple, inteligente y rápido.</h2>
                            <h4 class="description">Dedicamos nuestro mayor esfuerzo en tener un espacio de trabajo confortable y lleno de ventajas para poder lograr la misión de nuestra organización.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info info-hover">
                                <div class="icon icon-success icon-circle">
                                    <i class="now-ui-icons location_world"></i>
                                </div>
                                <h4 class="info-title">Desarrollo sostenible</h4>
                                <p class="description">Nuestro compromiso con el medio ambiente nos impulsa a causar el menor daño posible.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info info-hover">
                                <div class="icon icon-info icon-circle">
                                    <i class="now-ui-icons education_atom"></i>
                                </div>
                                <h4 class="info-title">Ciencia</h4>
                                <p class="description">Promovemos los valores científicos y éticos para poder brindarle a nuestros clientes productos certificados.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info info-hover">
                                <div class="icon icon-primary icon-circle">
                                    <i class="now-ui-icons education_hat"></i>
                                </div>
                                <h4 class="info-title">Educación</h4>
                                <p class="description">Nada de esto es posible sin educación, por lo que promovemos el desarrollo profesional y científico de nuestros compañeros.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-line separator-primary"></div>
        <div class="about-team team-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Nuestros héroes</h2>
                        <h4 class="description">Estamos orgullosos de contar con un gran equipo que comparte nuestra visión y cultura empresarial.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                        <div class="card card-profile card-plain">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img class="img img-raised rounded" src="assets/img/marie.webp" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h4 class="card-title">Ella Evelyn</h4>
                                        <h6 class="category">Chief Innovation Officer</h6>
                                        <p class="card-description">
                                            Piensa por la mañana. Actua al mediodía. Comer en la tarde. Duerme en la noche ......
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                        <div class="card card-profile card-plain">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img class="img img-raised rounded" src="assets/img/emily.webp" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h4 class="card-title">Mila Skylar</h4>
                                        <h6 class="category">Chief Executive Officer</h6>
                                        <p class="card-description">
                                            El amor cura a las personas, tanto los que lo dan como los que lo reciben ...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                        <div class="card card-profile card-plain">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img class="img img-raised rounded" src="assets/img/mike.webp" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h4 class="card-title">Daniel Carter</h4>
                                        <h6 class="category">Chief Technology Officer</h6>
                                        <p class="card-description">
                                            Mantén tu cara siempre hacia la luz del sol, y las sombras caerán detrás de ti ...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                        <div class="card card-profile card-plain">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img class="img img-raised rounded" src="assets/img/usher.webp" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h4 class="card-title">Dylan Wyatt</h4>
                                        <h6 class="category">Chief Operations Officer</h6>
                                        <p class="card-description">
                                            Solo hay un rincón del universo del que puedes estar seguro de mejorar, y ese es tu propio yo ...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-office">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">La oficina es nuestro segundo hogar</h2>
                        <h4 class="description">Aquí hay algunas fotos de nuestra oficina. Puede ver que el lugar parece un palacio y está totalmente equipado con todo lo que necesita para trabajar.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/bg27.webp">
                    </div>
                    <div class="col-md-4">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/bg24.webp">
                    </div>
                    <div class="col-md-4">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/bg28.webp">
                    </div>
                    <div class="col-md-6">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/project6.webp">
                    </div>
                    <div class="col-md-6">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/project14.webp">
                    </div>
                </div>
            </div>
        </div>
        <div class="about-contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center title">Quieres trabajar con nosotros?</h2>
                        <h4 class="text-center description">Escriba algunas líneas sobre usted y su experiencia. Nos pondremos en contacto con usted en un par de horas.</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Nombre</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                                      </div>
                                        <input type="text" class="form-control" placeholder="Nombre..." (focus)="focus=true" (blur)="focus=false">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Email</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                      </div>
                                        <input type="email" class="form-control" placeholder="Email..." (focus)="focus1=true" (blur)="focus1=false">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Especialidad</label>
                                        <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}"
                                            [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)"
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto text-center">
                                    <button class="btn btn-primary btn-round mt-4 btn-lg">
                                        Hablemos
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default ">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a>
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a>
                                Nosotros
                            </a>
                        </li>
                        <li>
                            <a>
                                contacto
                            </a>
                        </li>
                        <li>
                            <a>
                                legal
                            </a>
                        </li>
                        <li>
                            <a>
                                Tienda
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    © {{data | date: 'yyyy'}}
                    Scipion Cannabis
                </div>
            </div>
        </footer>
</div>
