<div class="wrapper">
    <div class="page-header page-header-mini">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/wp2594557.jpg') ;">
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img class="d-block img-raised" src="assets/img/products/Reign Drops 30.jpg"
                                alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-raised" src="assets/img/products/Reign Drops 30.jpg"
                                alt="Second slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                    <h2 class="title">Reign Drops 30:0</h2>
                    <h5 class="category">REDECAN</h5>
                    <h2 class="main-price">130,000</h2>
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" class="card-plain">
                        <ngb-panel id="config-panel-one">
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Descripción
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>Con una proporción de 30: 0 de THC a CBD, Reign Drops by Redecan es una mezcla de
                                    cannabis de invernadero con una potente potencia de THC. Formulado en Niagara,
                                    Ontario, este aceite se somete a un proceso de extracción de etanol de vanguardia y
                                    se diluye a una concentración óptima. Reign Drops está disponible en una botella de
                                    40 ml. Todos los productos de petróleo que se venden en OCS.ca están destinados solo
                                    para ingestión. NO fume ni vape estos aceites. Utilizar como se indica.</p>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Información
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>
                                    <strong class="block-box">THC </strong>30.0 mg/ml
                                    <strong class="block-box">CBD </strong>0.0 mg/ml
                                    <strong class="block-box">Planta </strong>Blend
                                    <strong class="block-box">SKU </strong>00628242241366
                                </p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <div class="row pick-size">
                        <div class="col-lg-6 col-md-8 col-sm-6">
                            <label>Cantidad</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <input type="number" value="0" min="0" class="form-control"
                                    (focus)="focus1=true" (blur)="focus1=false">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="now-ui-icons design_app"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <button class="btn btn-primary mr-3">Agregar al carrito <i
                                class="now-ui-icons shopping_cart-simple"></i></button>
                    </div>
                </div>
            </div>

            <div class="features-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Not convinced yet!</h2>
                            <h4 class="description">Havenly is a convenient, personal and affordable way to redecorate
                                your home room by room. Collaborate with our professional interior designers on our
                                online platform. </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-background card-raised" data-background-color
                                style="background-image: url('assets/img/bg24.jpg')">
                                <div class="info">
                                    <div class="icon icon-white">
                                        <i class="now-ui-icons shopping_delivery-fast"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">1 Day Delivery </h4>
                                        <p>Divide details about your product or agency work into parts. Write a few
                                            lines about each one. A paragraph describing a feature will be enough.</p>
                                        <a href="#pablo" class="ml-3">Find more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-background card-raised" data-background-color
                                style="background-image: url('assets/img/bg28.jpg')">
                                <div class="info">
                                    <div class="icon icon-white">
                                        <i class="now-ui-icons business_badge"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Refund Policy</h4>
                                        <p>Divide details about your product or agency work into parts. Write a few
                                            lines about each one. Very good refund policy just for you.</p>
                                        <a href="#pablo">Find more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-background card-raised" data-background-color
                                style="background-image: url('assets/img/bg25.jpg')">
                                <div class="info">
                                    <div class="icon">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Popular Item</h4>
                                        <p>Share a floor plan, and we'll create a visualization of your room. A
                                            paragraph describing a feature will be enough. This is a popular item for
                                            you.</p>
                                        <a href="#pablo" class="ml-3">Find more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>