<div class="wrapper">
    <div class="page-header page-header-mini">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/portada_producto.webp') ;">
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img class="d-block img-raised" src="assets/img/products/Reign Drops 30.webp"
                                alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-raised" src="assets/img/products/Reign Drops 30.webp"
                                alt="Second slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                    <h2 class="title">Reign Drops 30:0</h2>
                    <h5 class="category">REDECAN</h5>
                    <h2 class="main-price">130,000</h2>
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" class="card-plain">
                        <ngb-panel id="config-panel-one">
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Descripción
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>Con una proporción de 30: 0 de THC a CBD, Reign Drops by Redecan es una mezcla de
                                    cannabis de invernadero con una potente potencia de THC. Formulado en Niagara,
                                    Ontario, este aceite se somete a un proceso de extracción de etanol de vanguardia y
                                    se diluye a una concentración óptima. Reign Drops está disponible en una botella de
                                    40 ml. Todos los productos de petróleo que se venden en OCS.ca están destinados solo
                                    para ingestión. NO fume ni vape estos aceites. Utilizar como se indica.</p>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Información
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>
                                    <strong class="block-box">THC </strong>30.0 mg/ml
                                    <strong class="block-box">CBD </strong>0.0 mg/ml
                                    <strong class="block-box">Planta </strong>Blend
                                    <strong class="block-box">SKU </strong>00628242241366
                                </p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <div class="row pick-size">
                        <div class="col-lg-6 col-md-8 col-sm-6">
                            <label>Cantidad</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <input type="number" value="0" min="0" class="form-control"
                                    (focus)="focus1=true" (blur)="focus1=false">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="now-ui-icons design_app"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <button class="btn btn-primary mr-3">Agregar al carrito <i
                                class="now-ui-icons shopping_cart-simple"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default ">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a>
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a>
                                Nosotros
                            </a>
                        </li>
                        <li>
                            <a>
                                contacto
                            </a>
                        </li>
                        <li>
                            <a>
                                legal
                            </a>
                        </li>
                        <li>
                            <a>
                                Tienda
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    © {{data | date: 'yyyy'}}
                    Scipion Cannabis
                </div>
            </div>
        </footer>
</div>