<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/marijuana_lab_feat.jpg');">
        </div>
        <div class="content-center">
            <h1 class="title">Scipion Cannabis Store</h1>
            <div class="text-center">
                <a href="#" class="btn btn-primary btn-icon  btn-round">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#" class="btn btn-primary btn-icon btn-round">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="btn btn-primary btn-icon btn-round">
                    <i class="fa fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">¿Quiénes somos?</h2>
                    <h5 class="description">Somos una empresa dedicada a la producción, comercialización e
                        industrialización de
                        cannabis en Colombia que tiene como objetivo la inclusión de campesinos en la industria del
                        cannabis sin la necesidad
                        de incurrir en grandes gastos.
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <!-- First image on the left side -->
                        <div class="image-container image-left" style="background-image: url('assets/img/cooking.png')">
                            <p class="blockquote blockquote-primary">"Esta es una oportunidad dorada para que Colombia
                                se convierta en uno de los mayores proveedores del mundo. "
                                <br>
                                <br>
                                <small>-Revista dinero</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container image-left-bottom"
                            style="background-image: url('assets/img/Cannabis_flowering_in_a_greenhouse.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/labo.jpg')">
                        </div>
                        <h3>Entonces, ¿Qué queremos cambiar?</h3>
                        <p>Debido al conflicto armado y a las políticas agrarias nacionales, miles de campesinos son
                            condicionados por diversos factores a la siembra de cultivos ilícitos que generan una mejor
                            rentabilidad que los cultivos tradicionales de sus regiones.
                        </p>
                        <p>Tras décadas de las políticas antidrogas los resultados han sido desastrosos generando daños
                            ambientales, criminalización del campesino, estigmatización del consumidor, violencia,
                            corrupción, aumento de hectáreas sembradas y pérdidas de miles de millones de dólares que
                            salen del pago de impuestos de los contribuyentes. La evidencia ha demostrado que este tipo
                            de políticas ha fracasado a lo largo de la historia, la creciente demanda mundial hace cada
                            día más rentable esta actividad, logrando que miles de campesinos que se ganan la vida
                            trabajando la tierra salgan de la pobreza extrema.
                        </p>
                        <p>Scipion Cannabis busca crear un modelo de comercialización y cultivo, mediante un modelo de
                            licencia extendida que genere una reducción en la inversión por parte de medianos y pequeños
                            productores, evitando caer en la desigualdad y monopolio generado actualmente por los altos
                            costos en licencias, impuestos, entre otros gastos iniciales.
                        </p>
                        <p>El mercado actual del cannabis en Colombia se estima en un valor de US$ 2.000 millones según
                            la DNP y se espera que en poco tiempo superen los US$ 2.700 millones de las exportaciones
                            del Café, lo que representa generación de riqueza para los campesinos, empleos y mayor
                            recaudo para el estado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-1 section-image" style="background-image: url('assets/img/storage_article.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="title">Testimonios</h2>
                    <h4 class="description text-white">Ellos han usado nuestros productos para mejorar su salud y opinan
                        lo siguiente.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="card-avatar">
                            <img class="img img-raised" src="assets/img/michael.jpg">
                        </div>
                        <div class="card-body">
                            <p class="card-description">
                                Traté mi enfermedad con medicamentos costosos, ahora obtengo mejores resultados con
                                productos de un bajo coste.
                            </p>
                        </div>
                        <div class="icon icon-primary">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title">Gustavo Herrera</h4>
                            <p class="category">Abogado</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="card-avatar">
                            <img class="img img-raised" src="assets/img/olivia.jpg">
                        </div>
                        <div class="card-body">
                            <p class="card-description">
                                Amo la experiencia de compra de Scipión, consigo mis cremas de cuidado de la piel
                                fácilmente.
                            </p>
                            <br>
                        </div>
                        <div class="icon icon-primary">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title">Jessica Villamizar</h4>
                            <p class="category">Ingeniera Civil</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="card-avatar">
                            <img class="img img-raised" src="assets/img/julie.jpg">
                        </div>
                        <div class="card-body">
                            <p class="card-description">
                                Uso el aceite de cannabis para mejorar los síntomas epilepsia de mi hija después de
                                probarlo todo, no lo cambio por nada.
                            </p>
                        </div>
                        <div class="icon icon-primary">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title">Julie Cano</h4>
                            <p class="category">Contadora</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Quieres contactarte con nosotros?</h2>
            <p class="description">Su opinión es muy importante, compartela.</p>
            <div class="row">
                <div class="col-lg-6 text-center ml-auto mr-auto col-md-8">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombre..." (focus)="focus=true"
                            (blur)="focus=false">
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email..." (focus)="focus1=true"
                            (blur)="focus1=false">
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80"
                            placeholder="Escribe un mensaje..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Envíar mensaje</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a>
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a>
                            Nosotros
                        </a>
                    </li>
                    <li>
                        <a>
                            contacto
                        </a>
                    </li>
                    <li>
                        <a>
                            legal
                        </a>
                    </li>
                    <li>
                        <a>
                            Tienda
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                © {{data | date: 'yyyy'}}
                Scipion Cannabis
            </div>
        </div>
    </footer>
</div>